* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fbf7f5;
}


.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 60px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.cabecalho :hover {
   
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}


.conteudo-lp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    
}

.conteudo-lp main p {
    color: black;
    margin-top: 1rem;
}

.produto-principal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.produto-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 230px;
    background-color: white;
    border: black solid 1px;
    border-radius: 2px;
    box-shadow: gray 2px 1px 2px 2px;
    margin-top: 1rem;
  

   
}

.produto-principal h2 {
    font-size: medium;
    margin-top: 3px;

}



.produto-principal img {
    border-radius: 0.3rem;
}


.produto-principal a {
    margin-top: 0.5rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
    
    
}


.produto-principal a:hover {
    color: black;
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
    
}

.info-colecao {
   margin-top: 2rem;
   text-align: center;
}

.colecao {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    
}


.produtos-colecao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-color: white;
    border: black solid 1px;
    border-radius: 3px;
    box-shadow: gray 2px 1px 2px 2px;
    margin-top: 1rem;

    
    
    
    
    
}


.produtos-colecao img {
    width: 120px;
    height: 100px;
   
    
}

.produtos-colecao h3 {
    font-size: small;
    margin-top: 3px;
}

.produtos-colecao p {
    font-size: smaller;
    margin-top: 3px;
}


.produtos-colecao a {
    margin-top: 3px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: small;
    
    
}


.produtos-colecao a:hover {
    color: black;
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
    
}